  <% @order_team_roles.each do |team_role| %>
  <div class="card p-3 w-100 mb-1">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <% id_name = "collapseMonkey-#{team_role.id}" %>
        <a class="btn btn-secondary" data-toggle="collapse" href="#<%= id_name %>" role="button" aria-expanded="false" aria-controls="<%= id_name %>">
          <i class="fas fa-chevron-down"></i> Saved skill set
        </a>
      </div>
      <div class="team-role-width">
        <%= team_role.name %> <br>
      </div>
      <div>
        <%= team_role.occupancy %> %
      </div>
      <div>
        <% if team_role.user == nil %>
          <%= image_tag "avatar_placeholder2", alt: "placeholder", class: "avatar" %>
        <% else %>
          <%= link_to user_path(team_role.user) do  %>
          <div class="avatar" style="background-image: url('<%= cl_image_path team_role.user.photo, width: 50, height: 50, crop: :thumb, gravity: :face %>')"></div>
          <div></div>
          <% end %>
        <% end %>
      </div>
      <div class="team-name-width mb-3">

        <% if team_role.user == nil %>
        <%= simple_form_for :query, url: pages_index_path, method: :get do |f| %>

        <%= f.input :team_role_id, :as => :hidden, :input_html => { :value => team_role.id }%>
        <%= f.button :submit, class: "btn btn-info text-white w-100", value: " Search to fill this spot" %>
        <% end %>

        <% else %>
          <%= link_to user_path(team_role.user) do %>
            <%= team_role.user.first_name %> <%= team_role.user.last_name %>
          <% end %>
        <% end %>
      </div>

      <div class="flex-column text-align-right">
        <%= link_to team_team_role_path(@team, team_role), method: :delete, data: { confirm: "Are you sure you want to delete #{team_role.name} role from #{@team.name} team? All linked needed skills will be also deleted." }, class: "btn btn-secondary ml-4" do%>
        <i class="fas fa-trash-alt"></i>
        <% end %>
        <%= link_to edit_team_team_role_path(@team, team_role), class: "btn btn-secondary ml-2" do %>
        <i class="fas fa-pen"></i>
        <% end %>
      </div>
    </div>
  </div>


  <div class="collapse" id="<%= id_name %>">
   <div class="card border-0 p-3 w-50 mb-3">

    <%# if team_role.user == nil %>
    <div class="d-flex">
      <!-- <p class="flex-start"> <strong>Required skill set</strong></p> -->

      <div class="p-3">
        <p class="mb-2">Choose & add a skill you need: </p>

        <%= render "team_role_skill_form_ajax", team_role: team_role, skills: @skills_for_form %>


        <div class="mt-3">
          <div id="team-role-<%= team_role.id %>-skills-container">
            <% team_role.team_role_skills.each do |team_role_skill| %>
              <%= render "team_role_skill_card", team_role_skill: team_role_skill %>
            <% end %>
          </div>

        <%= simple_form_for :query, url: pages_index_path, method: :get do |f| %>
          <%= f.input :team_role_id, :as => :hidden, input_html: { value: team_role.id }%>
          <%= f.input :team_id, :as => :hidden, input_html: { value: params[:id] }%>
          <% if team_role.user.nil? %>
            <%= f.button :submit, class: "btn btn-info text-white w-100", value: "Search to this spot", style: 'width: 400px' %>
          <% else %>
          <%= f.button :submit, class: "btn btn-info text-white w-100", value: "Search to replace #{team_role.user.first_name}", style: 'width: 400px' %>
          <% end %>
        <% end %>
        </div>

      </div>
      </div>
      </div>
    </div>
  <% end %>
