<div class="d-flex justify-content-between align-items-center mb-3">
  <h3>Team: <%= @team.name %></h3>
  <%= link_to teams_path, class: "btn btn-secondary" do %>
  <i class="fas fa-undo-alt"></i> All teams
  <% end %>
</div>



<div class="card p-3 w-100">
  <div class="d-flex pl-3 justify-content-center mb-4">
    <h2>
      <% placeholders = @team.team_roles.all.select do |role| %>
        <% role.user == nil %>
      <% end %>
      <% if placeholders.count > 0 %>
        <span class="badge badge-pill badge-info text-white mr-4"> <%= placeholders.count %></span>
      <% else %>
        <span class="badge badge-pill badge-success mr-4"> <i class="fas fa-check"></i></span>
      <% end %>

      <% occupation = @team.occupation %>
      <strong class="text-secondary"><i class="fas fa-users text-secondary"></i> <%= @team.team_roles.count %> ( <%= occupation %>% )</strong>
    </h2>
  </div>

  <div class=" d-flex justify-content-between align-items-center w-100">
    <div class="team-name-width">
      <p> <strong> <i class="fas fa-users text-secondary"></i> Owner: </strong> <%= @team.owner_contact %></p>
      <p class="mb-0"> <strong> <i class="fas fa-users text-secondary"></i> Manager: </strong> <%= link_to "#{@team.team_manager.first_name} #{@team.team_manager.last_name}", user_path(@team.team_manager) %></p>
    </div>

    <div class="profile-rating-width">
      <p> <strong> <i class="fas fa-building text-secondary"></i> </strong> <%= @team.site.country %>, <%= @team.site.city %></p>
      <div class="d-flex">
        <h3><i class="fas fa-info-circle text-primary flex-start"></i></h3>
        <p class="ml-3 mb-0"> <%= @team.description %></p>
      </div>
    </div>
    <div>
      <%= link_to edit_team_path(@team), class: "btn btn-primary ml-3" do %>
        <i class="fas fa-pen"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-5 mb-4">
  <h3>Team Roles</h3>
</div>

<div class="card p-3 w-100 mb-1">
  <div class="d-flex justify-content-between align-items-center">
    <div class="avatar border border-secondary" style="background-image: url('https://cdn.dribbble.com/users/1044993/screenshots/3106624/question-bear_dribbble.png')">
    </div>

    <div>
      <%= link_to new_team_team_role_path(@team) do %>
        <h5 class="m-0 p-0"> Add a new role to this team </h5>
      <% end %>
    </div>


    <div>
      <%= link_to new_team_team_role_path(@team), class: "btn btn-primary" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
<!-- <div class="card p-3 w-100 mb-1">
  <div class="d-flex justify-content-center align-items-center">
    <div>
      <%= link_to new_team_team_role_path(@team) do %>
        <h5 class="m-0 p-0"> Add a new role to this team </h5>
      <% end %>
    </div>
  </div>
</div> -->

<%= render 'team_role_collapse' %>
