<h3 class="mb-3 mt-5">Assignments</h3>

  <div class="card p-3 w-100 mb-1">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%= link_to teams_path(user_id: @user) do %>
          <h5> Allocate <%= @user.first_name %> to a new team </h5>
        <% end %>
      </div>

      <div>
        <%= link_to teams_path(user_id: @user), class: "btn btn-primary" do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>

<% @user.team_roles.each do |team_role| %>
  <div class="card p-3 w-100 mb-1">
    <div class="d-flex justify-content-between align-items-center">

      <div class="team-role-width">
        <%= link_to team_role.name, team_path(team_role.team) %>
      </div>

      <div class="team-name-width">
        <%= link_to team_role.team.name, team_path(team_role.team) %>
      </div>

      <div>
        <%= team_role.occupancy %> %
      </div>

      <div class="flex-column text-align-right">
        <% if @user == current_user || current_user.is_manager %>
          <%= link_to edit_team_team_role_path(team_role.team), class: "btn btn-primary" do %>
              <i class="fas fa-pen"></i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

