<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<br>
<p>Network ID: <%= @user.network_id %></p>
<p>Job title: <%= @user.job_title %></p>
<p>Chapter: <%= @user.chapter %></p>
<p>Availability: <%= @user.availability %>%</p>
<% if @user.id != 1 %>
  <p>Manager: <%= @user.manager.first_name %> <%= @user.manager.last_name %></p>
<% end %>
<p>Is manager? <%= @user.is_manager ? "true" : "false" %></p>
<p>Photo: <%= @user.photo %></p>
<p>Site: <%= @user.site.country %>, <%= @user.site.city %></p>
<hr>
<%= link_to "Edit the user", edit_user_path %>
 <br>
<hr>
<%= link_to "Back to the list", users_path %>
