<div class="d-flex justify-content-between align-items-center mb-3">
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  <%= link_to users_path, class: "btn btn-secondary" do %>
  <i class="fas fa-undo-alt"></i> All co-workers
  <% end %>
</div>

  <div class="d-flex card p-3 mb-3 mr-3 user-details">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%= cl_image_tag(@user.photo, width: 250, height: 250, crop: :thumb, gravity: :face) %>
      </div>

      <div>
        <p> <strong> <i class="fas fa-network-wired"></i> Job title: </strong> <%= @user.job_title %></p>
        <div class="d-flex mt-5">
          <div class="mr-4">
            <% total_occupancy = 0 %>
            <% @user.team_roles.each do |team| %>
             <% total_occupancy += team.occupancy %>
            <% end %>
            <p class="text-center mb-0"> <strong> Availability </strong> </p>
            <h3 class="text-center"> <i class="fas fa-sun"></i> <%= @user.availability %>% </h3>
          </div>
          <div>
            <p class="text-center mb-0"> <strong>  Occupancy </strong> </p>
            <h3 class="text-center"> <i class="fas fa-moon"></i> <%= total_occupancy %>% </h3>
          </div>
        </div>
        <div class="d-flex">
          <% if @user.availability < total_occupancy %>
          <h4 class="text-center text-primary mt-4"><i class="fas fa-exclamation-circle"></i> <%= total_occupancy - @user.availability %>% overload</h4>
          <% end %>
        </div>
      </div>

      <div>
        <p> <strong> <i class="fas fa-users"></i> Chapter: </strong> <%= @user.chapter %></p>

        <%# Dirty hack to fix the manager issue for 1st person in the database %>
        <% if @user.job_title != "Chapter Lead" %>
          <% if @user.is_manager == "true" %>
            <p> <strong> <i class="fas fa-user-tie"></i> Manager: </strong> Yes </p>
          <% else %>
            <p> <strong> <i class="fas fa-user-tie"></i> Manager: </strong> <%= link_to "#{@user.manager.first_name} #{@user.manager.last_name}", user_path(@user.manager) %></p>
          <% end %>
        <% end %>
        <p> <strong> <i class="fas fa-building"></i> </strong> <%= @user.site.country %>, <%= @user.site.city %></p>
        <p><strong><i class="fas fa-at"></i> </strong> <%= @user.email %></p>
        <p><strong><i class="fas fa-id-card-alt"></i></strong> <%= @user.network_id %></p>
      </div>
      <div>
        <% if @user == current_user %>
          <%= link_to edit_user_path, class: "btn btn-primary w-100" do %>
            <i class="fas fa-pen"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<%= render 'user_team_roles' %>

<%= render 'user_skills' %>









