<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-4">Update skill "<%= @user_skill.skill.name %>" for <%= @user.first_name %></h3>

    <%= link_to user_path(@user), class: "btn btn-secondary" do %>
      <i class="fas fa-undo-alt mr-2"></i> Profile
    <% end %>
  </div>


  <% if @user.is_manager %>

    <%= simple_form_for([@user, @user_skill], url: user_skill_path(@user_skill)) do |f| %>
      <%= f.input :experience %>
      <%= f.input :self_assessment %>
      <%= f.input :self_comment %>
      <%= f.input :skill, as: :hidden %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

  <% elsif @user == current_user %>

    <%= simple_form_for([@user, @user_skill], url: user_skill_path(@user_skill)) do |f| %>
      <%= f.input :experience %>
      <%= f.input :self_assessment %>
      <%= f.input :self_comment %>
      <%= f.input :skill, as: :hidden %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>


  <% elsif current_user.is_manager%>

    <%= simple_form_for([@user, @user_skill], url: manager_assessment_update_user_skill_path(@user_skill)) do |f| %>
      <%= f.input :manager_assessment %>
      <%= f.input :manager_comment %>
      <%= f.input :skill, as: :hidden %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>

  <% else %>

      You can only edit your own skills.

  <% end %>

</div>
