
<% @userskills.all.each do |userskill| %>

<div class="card">


    <h5 class="card-header">
      Skill: <%= userskill.skill.name %>. Experience: <%= userskill.experience %>
      <%= link_to edit_user_user_skill_path(@user, userskill) do %>
        <i class="fas fa-pen"></i>
      <% end %>
      <%= link_to  user_user_skill_path(@user, userskill), method: :delete do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </h5>
    <div class="row">
      <div class="card-body">
        <h5> User assessment </h5>
        <h5 class="card-title"><%= userskill.self_assessment %></h5>
        <p class="card-text"><%= userskill.self_comment %></p>
      </div>
      <div class="card-body">
        <h5>Manager assessment</h5>
        <h5 class="card-title"><%= userskill.manager_assessment %></h5>
        <p class="card-text"><%= userskill.manager_comment %></p>

      </div>
    </div>
</div>


<% end %>

