
<h2><%= @user.first_name%>'s skills</h2>

<% if @user == current_user %>
<%= link_to "Add a new skill!", new_user_user_skill_path(@user) %>
<% end %>

<% @user_skills.each do |user_skill| %>

<div class="card">


    <h5 class="card-header">
      <%= user_skill.skill.name %> - experience: <%= user_skill.experience %>
      <% if @user == current_user || current_user.is_manager %>
        <%= link_to edit_user_skill_path(user_skill.id) do %>
          <i class="fas fa-pen"></i>
        <% end %>
      <% end %>
      <% if @user == current_user %>
        <%= link_to  user_skill_path(user_skill), data: { confirm: "Are you sure you want to delete #{user_skill.skill.name} skill?" }, method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </h5>
    <div class="row">
      <div class="card-body">
        <h5>User assessment</h5>
        <h5 class="card-title"><%= user_skill.self_assessment %></h5>
        <p class="card-text"><%= user_skill.self_comment %></p>
      </div>
      <% if @user.is_manager %>
        <div class="card-body">
          <h5>Manager assessment</h5>
          <br>
          <p class="card-text">Not applicable</p>
        </div>

      <% elsif @user == current_user || current_user.is_manager %>
        <div class="card-body">
          <h5>Manager assessment</h5>
          <h5 class="card-title"><%= user_skill.manager_assessment %></h5>
          <p class="card-text"><%= user_skill.manager_comment %></p>
        </div>
      <% end %>
    </div>
</div>
<hr>
<% end %>

