
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
  <h3>Add a new skill and self-assessment</h3>
  <%= link_to user_path(@user), class: "btn btn-secondary" do %>
      <i class="fas fa-undo-alt mr-2"></i> my profile
    <% end %>
  </div>

  <%= simple_form_for [@user, @user_skill] do |f| %>
    <%= f.association :skill, label_method: :name, value_method: :id, include_blank: false %>
    <%= f.input :experience %>
    <%= f.input :self_assessment %>
    <%= f.input :self_comment %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

</div>
