<div class="container">
  <h1>Create new skill</h1>

  <%= simple_form_for(@skill) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :skill_category, label_method: :name, value_method: :id, include_blank: false %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <hr>
  <%= link_to "Back to the list", skills_path %>

</div>
