<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">

  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo02.png" %>
  <% end %>

  <%= link_to root_path do %>
    <div class="navbar-brandtext">
      <p><em><strong>Skill<span>M</span></strong></em></p>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item mr-2">
        <%= link_to "People", users_path, class: "nav-link" %>
      </li>

      <li class="nav-item mr-2">
        <%= link_to "Skills", skills_path, class: "nav-link" %>
      </li>

      <li class="nav-item mr-2">
        <%= link_to "Teams", teams_path, class: "nav-link" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item mr-2">
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        </li>

        <li class="nav-item mr-2">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" src="<%= image_path current_user.photo %>" />
        </li>
      <% else %>
        <li class="nav-item active mr-2">
        <%= link_to "Sign in", new_user_session_path, class:"btn btn-primary" %>
        </li>
      <% end %>

    </ul>

  </div>

</div>
