

<div class="container">
    <div id="search_bar">
      <h5>Continue your search:</h5>
       <form action= "/pages/index" method="GET">
        <select class="query-select-boxes" name="query[]" multiple="multiple" style="width: 500px">
          <% @skills.each do |skill| %>
            <option value="<%= skill.name %>"><%= skill.name %></option>
          <% end %>
        </select>
        <input type="submit" value = "Submit">
      </form>

    </div>
  </div>

<div class="flex-container cards-wrapper">

  <% unless params.dig(:query, :team_role_id).present?  %>
    <div class="card card_details">
    <div class="card-body p-3">
      <div class="d-flex user-head">
          <div class="avatar border border-secondary" style="background-image: url('https://cdn.dribbble.com/users/1044993/screenshots/3106624/question-bear_dribbble.png')">
          </div>
      </div>
      <div class="card-text-team mb-3 mt-3">
        <h6 class="card-title mb-1 text-muted"> <br> No match found?</h6>
      </div>

      <div class="card-text mb-3">
      <p> <strong>Required skillset</strong></p>
      <% @queryskills.each do |value| %>
        <p> <%= value %> </p>
       <% end %>
     </div>
       <%= link_to teams_path(placeholder: true, query_array: @queryskills ) do %>
         <p class="btn btn-primary w-100 mb-2 button-upgrade"><i class="fas fa-plus mr-4"></i> Allocate </p>
       <% end %>
     </div>
  </div>
  <% end %>


  <% @users.each do |user| %>
  <div class="card card_details">
    <div class="card-body p-3">
      <div class="d-flex user-head">
          <%= link_to user_path(user) do %>
            <div class="avatar" style="background-image: url('<%= cl_image_path user.photo, width: 50, height: 50, crop: :thumb, gravity: :face %>')"></div>
          <% end %>
          <div class="ml-2">
            <% fullname = "#{user.first_name} #{user.last_name}" %>
            <% if fullname.length > 19 %>
              <h6 class="card-title mb-1 text-muted"><%= link_to user_path(user) do %>
                 <%= fullname[0...17] %>...
                 <% end %>
              </h6>
              <% else %>
              <h6 class="card-title mb-1 text-muted"><%= link_to user_path(user) do %>
                 <%= fullname %>
                 <% end %>
                <% end %>
              </h6>
            <% if user.job_title.length > 20 %>
              <small class="card-subtitle mb-1"><em><%= user.job_title[0...17] %>...</em></small> <br />
            <% else %>
              <small class="card-subtitle mb-1"><em><%= user.job_title %></em></small> <br />
            <% end %>
            <small class="card-subtitle mb-3 text-muted"><em>Available for</em></small>
            <small class="card-subtitle "><strong><%= user.availability %>%</strong></small>
          </div>
      </div>
      <div class="card-text-team mb-3 mt-3">
      <% user.teams.each do |team| %>
          <% if team.name.length > 18 %>
           <li><i class="fas fa-users text-secondary mb-2"></i> <%= team.name[0...16] %>...</li>
         <% else %>
           <li><i class="fas fa-users text-secondary mb-2"></i> <%= team.name %></li>
        <% end %>
      <% end %>
      </div>
     <div class="card-text mb-3">
      <% user.user_skills.each do |userskill| %>
        <% if @queryskills.include? userskill.skill.name %>
          <p><i class="fas fa-star text-info"></i> <%= userskill.self_assessment %> <%= " | " if current_user.is_manager %><%= userskill.manager_assessment if current_user.is_manager %> <%= userskill.skill.name %> </p>
       <% end %>
      <% end %>
     </div>

      <% if params.dig(:query, :team_role_id).present? %>
        <%= link_to replace_team_role_path(user, @team_role) do %>
          <p class="btn btn-primary w-100 mb-2 button-upgrade"> Fill open position </p>
        <% end %>
      <% else %>
        <%= link_to teams_path(user_id: user) do %>
          <p class="btn btn-primary w-100 mb-0 button-upgrade"><i class="fas fa-plus"></i> Allocate</p>
        <% end %>
      <% end %>

    </div>
  </div>
  <% end %>
</div>
