

<div class="container">
    <div id="search_bar">
      <h5>Continue your search:</h5>
      <%= simple_form_for :search, url: pages_index_path, method: :get do |f| %>
      <div class="search-form-control form-group search_box" id="margin">
        <input class="form-control string required" type="text" name="query" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat btn-info text-white">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
      <% end %>
      <%= simple_form_for :query, url: pages_index_path, method: :get do |f| %>
        <%= f.input_field :skill1, collection: Skill.all.map{|skill| skill.name} %>
        <%= f.input_field :skill2, collection: Skill.all.map{|skill| skill.name} %>
        <%= f.input_field :skill3, collection: Skill.all.map{|skill| skill.name} %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<div class="flex-container cards-wrapper">
  <% @users.each do |user| %>
  <div class="card card_details">
    <div class="card-body p-3">
      <div class="d-flex">
          <%= link_to user_path(user) do %>
            <div class="avatar" style="background-image: url('<%= cl_image_path user.photo, width: 50, height: 50, crop: :thumb, gravity: :face %>')"></div>
          <% end %>
          <div class="ml-2">
            <% fullname = "#{user.first_name} #{user.last_name}" %>
            <% if fullname.length > 19 %>
              <h6 class="card-title mb-1 text-muted"><%= link_to user_path(user) do %>
                 <%= fullname[0...17] %>...
                 <% end %>
              </h6>
              <% else %>
              <h6 class="card-title mb-1 text-muted"><%= link_to user_path(user) do %>
                 <%= fullname %>
                 <% end %>
                <% end %>
              </h6>
            <% if user.job_title.length > 20 %>
              <small class="card-subtitle mb-1"><em><%= user.job_title[0...17] %>...</em></small> <br />
            <% else %>
              <small class="card-subtitle mb-1"><em><%= user.job_title %></em></small> <br />
            <% end %>
            <small class="card-subtitle mb-3 text-muted"><em>Available for</em></small>
            <small class="card-subtitle "><strong>20%</strong></small>
          </div>
      </div>
      <div class="card-text-team mb-3 mt-3">
      <% user.teams.each do |team| %>
          <% if team.name.length > 18 %>
           <li><i class="fas fa-users text-secondary mb-2"></i> <%= team.name[0...16] %>...</li>
         <% else %>
           <li><i class="fas fa-users text-secondary mb-2"></i> <%= team.name %></li>
        <% end %>
      <% end %>
        <li><i class="fas fa-users text-secondary mb-2"></i> Test Team Name </li>
      </div>
     <div class="card-text mb-3">
      <p><i class="fas fa-star text-info"></i> (3) Javascript</p>
      <p><i class="fas fa-star text-info"></i> (1) React </p>
     </div>
      <%= link_to teams_path do %>
      <p class="btn btn-primary w-100 mb-0 button-upgrade"><i class="fas fa-plus"></i> Allocate</p>
      <% end %>
     </div>
  </div>
  <% end %>
</div>
