<div class="mx-5 home-wrapper pt-4 px-4 container-background" style="height: 100vh;">
  <%# <div class="stats-banner mb-4">
    <div class="container d-flex align-items-center">
      <div class="mr-4"><h2>Charts and data</h2></div>
    </div>
  </div> %>

  <div class="row">
    <div class="col-2">
      <div class="card my-2" style="height: 25rem;">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">People</h2>
          <div class="d-flex flex-column justify-content-around">
            <h3 class="text-center">60</h3>
            <p class="text-center">Specialists</p>
            <h3 class="text-center">3</h3>
            <p class="text-center">Sites</p>
            <h3 class="text-center">95%</h3>
            <p class="text-center">Average FTE per person</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card my-2" style="height: 25rem;">
        <div class="card-body">
          <h2 class="card-title text-center">Staff occupation</h2>
          <%= pie_chart charts_occupation_path, colors: ["#167FFB", "#FFA524", "#0A8A00", "#F5F5F5", "#333333","#A4243B", "#7D1128" ] %>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card my-2" style="height: 25rem;">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Skills</h2>
          <div class="d-flex flex-column justify-content-around">
            <h3 class="text-center">80</h3>
            <p class="text-center">total</p>
            <h3 class="text-center">7</h3>
            <p class="text-center">Average skill / specialist</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card my-2" style="height: 25rem;">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Teams</h2>
          <div class="d-flex flex-column justify-content-around">
            <h3 class="text-center">15</h3>
            <p class="text-center">Total</p>
            <h3 class="text-center">5</h3>
            <p class="text-center">Average user / team</p>
            <h3 class="text-center">14</h3>
            <p class="text-center">Empty positions</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card my-3">
        <div class="card-body">
          <h2 class="card-title">Most common skills</h2>
          <%= column_chart charts_most_common_skills_path, colors: ["#FFA524", "#333333"] %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3">
        <div class="card-body">
          <h2 class="card-title">Most needed skills for empty roles</h2>
          <%= column_chart charts_most_needed_skills_path, colors: ["#A4243B", "#333333"] %>
        </div>
      </div>
    </div>
  </div>


<%
=begin %>
  <div class="row">
    <div class="col">
      <div class="card my-3">
        <div class="card-body">
          <h2 class="card-title">Least common skills</h2>
          <%= column_chart charts_least_common_skills_path, colors: ["#A4243B", "#333333"] %>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card my-3">
      <div class="card-body">
        <h2 class="card-title">10 less needed skills for empty roles</h2>
        <%= column_chart charts_less_needed_skills_path, colors: ["#FFA524", "#333333"] %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card my-3">
      <div class="card-body">
        <h2 class="card-title">Empty and taken positions</h2>
        <%= pie_chart charts_empty_positions_path, colors: ["#167FFB", "#FFA524", "#0A8A00", "#F5F5F5", "#333333","#A4243B", "#7D1128" ] %>
      </div>
    </div>
  </div>
<%
=end %>
</div>