<h1><%= @team_role.name %></h1>
<br>
<p>Occupancy: <%= @team_role.occupancy %></p>
<% if @team_role.user != nil %>
  <p>Assignee: <%= link_to "#{@team_role.user.first_name} #{@team_role.user.last_name}", user_path(@team_role.user) %></p>
<% else %>
  <p>Assignee: none </p>
<% end %>
<%= link_to "Edit the team role", edit_team_team_role_path(@team, @team_role), class: "btn btn-primary" %>
<%= link_to "Delete the team role", team_team_role_path(@team, @team_role), method: :delete, data: { confirm: "Delete #{@team_role.name}?" }, class: "btn btn-danger" %>
<hr>
<h3>Skills needed:</h3>
<ul class="list-group">
  <% @team_role.team_role_skills.each do |team_role_skill| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to team_role_skill.skill.name, skills_path(team_role_skill.skill) %>
      <span class="badge badge-primary badge-pill"><%= link_to "X", team_team_role_team_role_skill_path(@team, @team_role, team_role_skill), method: :delete, data: { confirm: "Delete #{team_role_skill.skill.name} skill from this role?" } %></span>
    </li>
  <% end %>
</ul>
<br>
<%= render 'team_role_skill_form' %>
<hr>
<%= link_to "Back to the team", team_path(@team), class: "btn btn-secondary" %>