<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/header' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>

    <% #unless current_page?(controller: 'pages', action: 'stats') %>
      <div class="container home-wrapper pb-5 pt-4 container-background">
    <% #end %>
    <%= yield %>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
